<div>
  <h1>AVA widgets test page</h1>
  <div class="form">
    <label>Width: </label>
    <input
      type="text"
      [(ngModel)]="videoWidth"
    />
    <label> Height: </label>
    <input
      type="text"
      [(ngModel)]="videoHeight"
    />
    <br><br>
    <label>token: </label>
    <input
      type="text"
      [(ngModel)]="widgetConfig.token"
    />
    <label> accountId: </label>
    <input
      type="accountId"
      [(ngModel)]="widgetConfig.accountId"
    />
    <br><br>
    <label> longRegionCode: </label>
    <input
      type="longRegionCode"
      [(ngModel)]="widgetConfig.longRegionCode"
    />
    <label> videoName: </label>
    <input
      type="videoName"
      [(ngModel)]="widgetConfig.videoName"
    />
    <br><br>
    <button (click)="load()">load</button>
    <br><br>
    <label> Set API base: </label>
    <input
      type="apiBase"
      [(ngModel)]="apiBase"
    />
    <button (click)="setAPIBase()">Set</button>
    <label> Set Access token: </label>
    <input
      type="accessToken"
      [(ngModel)]="accessToken"
    />
    <button (click)="setAccessToken()">Set</button>

  </div>
  <ava-player #avaPlayer width="{{ videoWidth }}" height="{{videoHeight}}"></ava-player>
</div>
<router-outlet></router-outlet>
