<div class="container">
  <h2>AVA widgets test page</h2>
  <h5>
    This demo page works with the latest version of the package <a href="https://www.npmjs.com/package/video-analyzer-widgets">here</a>
  </h5>
  <h4>Basic configuration</h4>
  <div class="form">
    <div class="control">
    <label>Width: </label>
    <input
      type="text"
      [(ngModel)]="videoWidth"
    />
    </div>
    <div class="control">

  <div class="control long">
    <label>Access Token </label>
    <input
      type="text"
      [(ngModel)]="widgetConfig.token"
    />

  </div>
<div class="control long">
  <label> Client API Endpoint Url </label>
  <input
    placeholder="https://{accountId}.api.{longRegionCode}.videoanalyzer.azure.net"
    type="clientApiEndpointUrl"
    [(ngModel)]="widgetConfig.clientApiEndpointUrl"
  />
</div>
    <div class="control">

      <label> Video Name </label>
      <input
        type="videoName"
        [(ngModel)]="widgetConfig.videoName"
      />
    </div>
    <div class="control">

      <button (click)="load()">Load Player</button>
    </div>
    <h4>Runtime methods</h4>
    <label> Set API base: </label>
    <input
      type="apiBase"
      [(ngModel)]="apiBase"
    />
    <button (click)="setAPIBase()" class="inline">Set</button>
    <label> Set Access token: </label>
    <input
      type="accessToken"
      [(ngModel)]="accessToken"
    />
    <button (click)="setAccessToken()" class="inline">Set</button>

  </div>
  <ava-player #avaPlayer width="{{ videoWidth }}" height="{{videoHeight}}"></ava-player>
  <br>
  <br>
  <h4>Zone Drawer Widget (Under construction)</h4>
  <ava-zone-drawer #zoneDrawer>
    <ava-player #avaPlayerDrawer width="{{ videoWidth }}" height="{{videoHeight}}"></ava-player>
  </ava-zone-drawer>
</div>
<router-outlet></router-outlet>
