.container {
  padding: 10px;
}

.form {
  padding-bottom: 50px;
}

.control {
  padding: 5px 0;
}

input {
  height: 20px;
  border-radius: 0;
  border: 1px solid;
}

input:focus {
  border-color: dodgerblue;
  border-radius: 0;
}

.control.long > input {
  min-width: 400px;
  width: auto;
}
h4 {
  color: dodgerblue;
}

.inline {
  vertical-align: top;
}